In [8]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [12]:
DB_USER = "burnout_user"
DB_PASSWORD = "1234567890"
DB_HOST = "localhost"
DB_PORT = "3306"
DB_NAME = "burnoutdb"

In [3]:
db_config = {
  'user': DB_USER,
  'password': DB_PASSWORD,
  'host': 'localhost',
  'database': DB_NAME,
  'port': DB_PORT
}

# Инициализируем переменные, чтобы они были доступны в блоке finally
connection = None
cursor = None

try:
    # --- 2. Устанавливаем соединение ---
    print("Подключение к базе данных MySQL...")
    connection = mysql.connector.connect(**db_config)

    if connection.is_connected():
        print("Соединение с MySQL установлено.")

        # --- 3. Определяем SQL-запрос ---
        # Замените 'your_table' на имя вашей таблицы
        sql_query = "SELECT * FROM employees;"

        # --- 4. Выполняем запрос и загружаем данные в DataFrame ---
        # pd.read_sql() отлично работает с объектом соединения от mysql-connector
        print(f"Выполнение запроса: {sql_query}")
        df = pd.read_sql(sql_query, connection)

        # --- 5. Работаем с результатом ---
        print("Данные успешно загружены в Pandas DataFrame!")
        print("\nПервые 5 строк:")
        print(df.head())

        print("\nИнформация о DataFrame:")
        df.info()

# Обрабатываем возможные ошибки
except Error as e:
    print(f"Ошибка при работе с MySQL: {e}")

except Exception as e:
    print(f"Произошла непредвиденная ошибка: {e}")

finally:
    # --- 6. ОБЯЗАТЕЛЬНО закрываем соединение ---
    # Это освобождает ресурсы на сервере и в вашем приложении.
    if connection and connection.is_connected():
        connection.close()
        print("\nСоединение с MySQL закрыто.")

Подключение к базе данных MySQL...
Соединение с MySQL установлено.
Выполнение запроса: SELECT * FROM employees;
Данные успешно загружены в Pandas DataFrame!

Первые 5 строк:
   id  legal_entity gender                           city  \
0   1  Ñ„Ð¸Ð»Ð¸Ð°Ð»   None  Ð¡Ð°Ð½ÐºÑ‚-ÐŸÐµÑ‚ÐµÑ€Ð±ÑƒÑ€Ð³
1   2  Ñ„Ð¸Ð»Ð¸Ð°Ð»   None  Ð¡Ð°Ð½ÐºÑ‚-ÐŸÐµÑ‚ÐµÑ€Ð±ÑƒÑ€Ð³
2   3  Ñ„Ð¸Ð»Ð¸Ð°Ð»   None                   Ð¡Ð°Ð¼Ð°Ñ€Ð°
3   4  Ñ„Ð¸Ð»Ð¸Ð°Ð»   None  Ð¡Ð°Ð½ÐºÑ‚-ÐŸÐµÑ‚ÐµÑ€Ð±ÑƒÑ€Ð³
4   5  Ñ„Ð¸Ð»Ð¸Ð°Ð»   None  Ð¡Ð°Ð½ÐºÑ‚-ÐŸÐµÑ‚ÐµÑ€Ð±ÑƒÑ€Ð³

                                            position  \
0                                               None
1  ÐœÐµÐ½ÐµÐ´Ð¶ÐµÑ€ Ð¿Ð¾ Ñ€Ð°Ð±Ð¾Ñ‚Ðµ Ñ ÐºÐ»Ð¸Ðµ...
2  Ð¡Ñ‚Ð°Ñ€ÑˆÐ¸Ð¹ Ð¼ÐµÐ½ÐµÐ´Ð¶ÐµÑ€ Ð³Ñ€ÑƒÐ¿Ð¿Ñ‹ Ñ...
3  ÐœÐµÐ½ÐµÐ´Ð¶ÐµÑ€ Ð¿Ð¾ Ñ€Ð°Ð±Ð¾Ñ‚Ðµ Ñ ÐºÐ»Ð¸Ðµ...
4  Ð¡Ñ‚Ð°Ñ€ÑˆÐ¸Ð¹ Ð¼ÐµÐ½ÐµÐ´Ð¶ÐµÑ€ Ð¿Ð¾ Ñ€Ð°Ð±Ð¾Ñ...

                experience_text  age                 role_type kpi_june  \
0       5 Ð»ÐµÑ‚ 4 Ð¼ÐµÑÑÑ†Ð°   28  Ð ÑƒÐºÐ¾Ð²Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑŒ     100%
1  2 Ð³Ð¾Ð´Ð° 10 Ð¼ÐµÑÑÑ†ÐµÐ²   32        Ð¡Ð¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸Ðº      75%
2    4 Ð³Ð¾Ð´Ð° 1Ð¼ÐµÑÑÑ†ÐµÐ²   25  Ð ÑƒÐºÐ¾Ð²Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑŒ     100%
3     5 Ð»ÐµÑ‚ 6 Ð¼ÐµÑÑÑ†ÐµÐ²   26        Ð¡Ð¾Ñ‚Ñ€ÑƒÐ´Ð½Ð¸Ðº     100%
4    5 Ð»ÐµÑ‚, 6 Ð¼ÐµÑÑÑ†ÐµÐ²   30  Ð ÑƒÐºÐ¾Ð²Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑŒ     100%

  kpi_july kpi_august kpi_september kpi_october attestation_status  \
0      96%        80%           90%         90%       Ð¿Ñ€Ð¾ÑˆÐµÐ»
1      60%       100%          100%         80%       Ð¿Ñ€Ð¾ÑˆÐµÐ»
2      75%        80%           80%         95%       Ð¿Ñ€Ð¾ÑˆÐµÐ»
3     100%       100%          100%        100%       Ð¿Ñ€Ð¾ÑˆÐµÐ»
4      80%       100%          100%         90%       Ð¿Ñ€Ð¾ÑˆÐµÐ»

       training_status last_vacation_text  had_sick_leave  has_reprimand  \
0  Ð² Ð¿Ñ€Ð¾Ñ†ÐµÑÑÐµ             Feb-25               1              0
1   Ð·Ð°Ð²ÐµÑ€ÑˆÐµÐ½Ð°             Mar-25               1              0
2  Ð² Ð¿Ñ€Ð¾Ñ†ÐµÑÑÐµ             Mar-25               0              0
3   Ð·Ð°Ð²ÐµÑ€ÑˆÐµÐ½Ð°             Aug-25               0              0
4  Ð² Ð¿Ñ€Ð¾Ñ†ÐµÑÑÐµ             Oct-25               0              0

   corporate_activities_participation self_assessment_burnout_state
0                                   1           Ð²ÑÐµ Ñ…Ð¾Ñ€Ð¾ÑˆÐ¾
1                                   0                    ÑƒÑÑ‚Ð°Ð»
2                                   1                          None
3                                   0                          None
4                                   0                          None

Информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  50 non-null     int64
 1   legal_entity                        50 non-null     object
 2   gender                              0 non-null      object
 3   city                                50 non-null     object
 4   position                            49 non-null     object
 5   experience_text                     50 non-null     object
 6   age                                 50 non-null     int64
 7   role_type                           50 non-null     object
 8   kpi_june                            36 non-null     object
 9   kpi_july                            37 non-null     object
 10  kpi_august                          37 non-null     object
 11  kpi_september                       38 non-null     object
 12  kpi_october                         39 non-null     object
 13  attestation_status                  50 non-null     object
 14  training_status                     50 non-null     object
 15  last_vacation_text                  44 non-null     object
 16  had_sick_leave                      50 non-null     int64
 17  has_reprimand                       50 non-null     int64
 18  corporate_activities_participation  50 non-null     int64
 19  self_assessment_burnout_state       2 non-null      object
dtypes: int64(5), object(15)
memory usage: 7.9+ KB

Соединение с MySQL закрыто.

/var/folders/h8/sx47fdqd6xq2hht7cqw9mdvw0000gn/T/ipykernel_20514/141436597.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, connection)

In [13]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

db_config = {
  'user': DB_USER,
  'password': DB_PASSWORD,
  'host': 'localhost',
  'database': DB_NAME,
  'port': DB_PORT
}

# --- 1. Конфигурация подключения к вашей базе данных ---
def get_user_burnout_stats_v2(user_id: int, config: dict):
    """
    Получает 3 последние записи о тестах для пользователя,
    а также рассчитывает средние значения по всем его тестам за все время.

    Args:
        user_id (int): ID пользователя, для которого нужно получить данные.
        config (dict): Словарь с параметрами для подключения к БД.

    Returns:
        tuple: Кортеж, содержащий:
               - pandas.DataFrame: DataFrame с 3 последними записями.
               - dict: Словарь с общими средними значениями за все время.
        (None, None): если произошла ошибка или пользователь не найден.
    """
    connection = None
    try:
        connection = mysql.connector.connect(**config)
        
        # --- ЗАПРОС №1: Получаем 3 последние записи ---
        query_last_3 = """
        SELECT * 
        FROM burnout_tests 
        WHERE user_id = %s 
        ORDER BY test_datetime DESC 
        LIMIT 3;
        """
        df_last_3 = pd.read_sql(query_last_3, connection, params=[user_id])
        
        # Если DataFrame пуст, значит у пользователя нет записей. Выходим.
        if df_last_3.empty:
            print(f"Для пользователя с ID {user_id} записи не найдены.")
            return None, None

        # --- ЗАПРОС №2: Рассчитываем средние значения за ВСЕ время на стороне БД ---
        query_overall_avg = """
        SELECT
            AVG(score1) as avg_score1,
            AVG(score2) as avg_score2,
            AVG(score3) as avg_score3,
            AVG(burnout_score) as avg_burnout_score,
            AVG(mean_reaction_time_ms) as avg_reaction_time_ms
        FROM burnout_tests
        WHERE user_id = %s;
        """
        # pd.read_sql вернет DataFrame с одной строкой
        df_avg = pd.read_sql(query_overall_avg, connection, params=[user_id])
        
        # Преобразуем первую (и единственную) строку DataFrame в словарь
        overall_averages = df_avg.to_dict('records')[0]
        
        return df_last_3, overall_averages

    except Error as e:
        print(f"Ошибка при работе с MySQL: {e}")
        return None, None
    finally:
        if connection and connection.is_connected():
            connection.close()


# --- Основной блок для запуска (функция setup_database остается без изменений) ---
if __name__ == "__main__":
    # Если вы еще не создали таблицы, сохраните ваш SQL в файл 'schema.sql'
    # и раскомментируйте строку ниже для первого запуска.
    # from previous_script import setup_database # Предполагая, что функция в другом файле
    # setup_database(db_config)
    
    print("-" * 50)
    
    # Пример использования функции для пользователя с ID = 3
    target_user_id = 3
    print(f"Получаем данные для пользователя ID: {target_user_id}\n")
    
    last_3_records, overall_avg_scores = get_user_burnout_stats_v2(
        user_id=target_user_id, 
        config=db_config
    )
    
    # Проверяем, что данные получены
    if last_3_records is not None:
        print("ПОСЛЕДНИЕ 3 ЗАПИСИ:")
        print(last_3_records.to_string())
        
        print("\nОБЩИЕ СРЕДНИЕ ЗНАЧЕНИЯ (за все время):")
        if overall_avg_scores:
            for key, value in overall_avg_scores.items():
                print(f"{key}: {value:.2f}")

--------------------------------------------------
Получаем данные для пользователя ID: 3

ПОСЛЕДНИЕ 3 ЗАПИСИ:
    id  user_id       test_datetime  score1  score2  score3  burnout_score  mean_reaction_time_ms
0  503        3 2025-11-10 09:05:11      30      29      31           30.0                 670.98
1  453        3 2025-11-03 14:15:00      28      30      29           29.0                 650.45
2  403        3 2025-10-27 09:05:11      27      26      28           27.0                 630.98

ОБЩИЕ СРЕДНИЕ ЗНАЧЕНИЯ (за все время):
avg_score1: 26.82
avg_score2: 27.73
avg_score3: 28.91
avg_burnout_score: 27.82
avg_reaction_time_ms: 629.17

/var/folders/h8/sx47fdqd6xq2hht7cqw9mdvw0000gn/T/ipykernel_20514/2222105480.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_last_3 = pd.read_sql(query_last_3, connection, params=[user_id])
/var/folders/h8/sx47fdqd6xq2hht7cqw9mdvw0000gn/T/ipykernel_20514/2222105480.py:60: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg = pd.read_sql(query_overall_avg, connection, params=[user_id])